*~
/*
!/*/
!/.gitattributes
!/.gitignore
!/.travis.yml
!/makefile
!/mame.doxygen 
!/*.md
/cfg
/diff
/ini
/inp
/nvram
/obj
/roms
/snap
src/regtests/chdman/temp
src/regtests/jedutil/output
/sta
*.pyc
/build
/documentation
/mewui
