* text=auto !eol
*.jed binary
*.png -text svneol=unset#image/png
*.txt svneol=native#text/plain
*.xml svneol=native#text/xml
*.hsi svneol=native#text/xml
*.dtd svneol=native#application/xml-dtd
hlsl/*.fx svneol=native#text/plain
keymaps/*.map svneol=native#text/plain
makefile svneol=native#text/plain
Makefile svneol=native#text/plain
*.mak svneol=native#text/plain
*.c svneol=native#text/plain
*.cpp svneol=native#text/plain
*.h svneol=native#text/plain
*.hpp svneol=native#text/plain
*.inc svneol=native#text/plain
*.inl svneol=native#text/plain
*.in svneol=native#text/plain
*.ops svneol=native#text/plain
*.lay svneol=native#text/xml
*.lst svneol=native#text/plain
*.ico -text svneol=unset#image/x-icon
*.man svneol=CRLF#text/plain eol=crlf
*.rc svneol=CRLF#text/plain eol=crlf
*.m svneol=native#text/plain
*.sh svneol=LF#text/plain eol=lf
src/osd/sdl/man/* svneol=LF#text/plain eol=lf
src/osd/sdl/shader/*.vsh svneol=native#text/plain
src/osd/sdl/shader/*.fsh svneol=native#text/plain
*.py svneol=native#text/plain
*.cmd svneol=CRLF#text/plain eol=crlf
*.html svneol=native#text/html
*.gif -text svneol=unset#image/gif
*.css svneol=native#text/css
*.js svneol=native#text/javascript
readme svneol=native#text/plain
README svneol=native#text/plain
*.ppm -text svneol=unset#image/x-portable-pixmap
*.po eol=lf