*~
/*
/*/
!/3rdparty/
!/artwork/
!/docs/
!/hash/
!/hlsl/
!/keymaps/
!/nl_examples/
!/samples/
!/scripts/
!/src/
!/tests/
!/doxygen/
!/web/
!/.gitattributes
!/.gitignore
!/.travis.yml
!/makefile
!/mame.doxygen
!/*.md
/.idea
src/regtests/chdman/temp
src/regtests/jedutil/output
*.pyc
/CMakeLists.txt 