// license:BSD-3-Clause
// copyright-holders:Aaron Giles
//============================================================
//
//	arcade.rc - Minimal resource file for Win32 MAME
//
//============================================================

#include <windows.h>
#include "arcadevers.rc"

1                       24      MOVEABLE PURE   "arcade.man"

2                       ICON    DISCARDABLE     "arcade.ico"
