// license:BSD-3-Clause
// copyright-holders:Aaron Giles
//============================================================
//
//	mess.rc - Minimal resource file for Win32 MAME
//
//============================================================

#define NOWINRES
#include "windows.h"
#include "commctrl.h"
#include "messvers.rc"

1                       24      MOVEABLE PURE   "mess.man"

2                       ICON    DISCARDABLE     "mess.ico"
