[Desktop Entry]
Name=MAME
GenericName=Emulator
Comment=A multi-purpose emulation framework
Exec=mame
Type=Application
Icon=org.mamedev.MAME
Categories=Game;ArcadeGame;Emulator
