// license:BSD-3-Clause
// copyright-holders:Aaron Giles
//============================================================
//
//	mewuitest.rc - Minimal resource file for Win32 MAME
//
//============================================================

#include <windows.h>
#include "mewuitestvers.rc"

1                       24      MOVEABLE PURE   "mame.man"

2                       ICON    DISCARDABLE     "mame.ico"
