language: cpp
matrix:
  include:
    - compiler: gcc
      os: linux
    - compiler: clang
      os: osx

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-8
    - g++-8
    - clang

before_script:
  git clone https://github.com/bkaradzic/bx ../bx

script:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then make build CXX="g++-8" CC="gcc-8"; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then make build; fi

branches:
  only:
    - master

notifications:
  email: false

osx_image: xcode11
