// license:BSD-3-Clause
// copyright-holders:Aaron Giles
//============================================================
//
//	ume.rc - Minimal resource file for Win32 MAME
//
//============================================================

#define NOWINRES
#include "windows.h"
#include "commctrl.h"
#include "umevers.rc"

1                       24      MOVEABLE PURE   "ume.man"

2                       ICON    DISCARDABLE     "ume.ico"
