@charset "UTF-8";

/** 
 * CSS Drop-Down Menu Theme
 *
 * @file		default.css
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE6+, Opera7+, Firefox3+
 *				Mac OS: Safari2+, Firefox3+
 *
 * @link		http://www.lwis.net/free-css-drop-down-menu
 * @copyright	2008-2012 Live Web Initiatives, http://www.lwis.net
 *
 */


/* -- Base drop-down styling -- */

ul.dropdown {
 font: bold 17px/normal Arial, Helvetica, sans-serif;
}

	ul.dropdown li {
	 padding: 5px;
	 background-color: #333;
	 color: #fff;
	}

	ul.dropdown a:link,
	ul.dropdown a:visited { color: #fff; text-decoration: none;}
	ul.dropdown a:hover {
	 border-top-color: #5db1e0 !important;
	 border-left-color: #5db1e0;
	 background-color: #4498c7;
	 color: #fff;
	}

	ul.dropdown ul a.dir:hover {
	 background-color: #4698ca;
	 background-image: url(../images/comnav-arrowon.png);
	 color: #fff;
	}

	ul.dropdown a:active {
	 background: #058acf url(../images/nav-sub-press.png) 0 0 repeat-x !important;
	 color: #fff;
	}

	/* -- level mark -- */

	ul.dropdown ul {
	 left: auto;
	 right: 0;
	 width: 150px;
	 margin-top: -1px;
	 border-top: 1px solid #1a1a1a;
	 border-left: solid 1px #4c4c4c;
	 font: bold 11px/1em Tahoma, Geneva, Verdana, sans-serif;
	}

		ul.dropdown ul li {
		 background-color: #3a3a3a;
		}

		/* -- level mark -- */

		ul.dropdown ul ul {
		 top: 0;
		 right: auto;
		 left: 100%;
		 margin-top: 0;
		 border-top: none;
		 border-left: none;
		 font-weight: normal;
		}

			ul.dropdown ul ul li {
			 background-color: #4c4c4c;
			}

			/* -- level mark -- */

				ul.dropdown ul ul ul li {
				 background-color: #595959;
				}


/* -- Supporting class `dir` -- */

ul.dropdown *.dir {
 padding-right: 30px;
 background-image: none;
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

	/* -- level mark -- */

	ul.dropdown ul *.dir {
	 padding-right: 15px;
	 background-image: url(../images/nav-arrow-right.png);
	 background-position: 100% 50%;
	 background-repeat: no-repeat;
	}

	ul.dropdown ul ul *.dir {
	 background-image: url(../images/nav-arrow-right2.png);
	}


/* -- Components override -- */

ul.dropdown-vertical *.dir {
 background-image: url(../images/nav-arrow-right.png);
}

ul.dropdown-vertical-rtl *.dir {
 padding-right: 15px;
 background-image: url(../images/nav-arrow-left.png);
 background-position: 0 50%;
}


/* -- Mixed -- */

ul.dropdown li a,
ul.dropdown *.dir {
 border-style: solid;
 border-width: 1px;
 border-color: #404040 #1a1a1a #1a1a1a #505050;
}

ul.dropdown ul li a,
ul.dropdown ul *.dir { border-color: #4a4a4a #242424 #242424; border-left: none; }

ul.dropdown ul ul li a,
ul.dropdown ul ul *.dir { border-color: #595959 #333 #333; }

ul.dropdown ul ul ul li a,
ul.dropdown ul ul ul *.dir { border-color: #767676 #404040 #404040; }


/* -- Custom elements -- */

#n-movies { width: 250px; text-align: center; }
#n-movies ul { right: auto; left: 0; width: 249px; text-align: left; }
#n-movies ul ul { left: 249px; width: 150px; }
#n-movies ul a { width: 232px; }
#n-movies ul a.dir { width: 210px; }
#n-movies ul ul a { width: 133px; }
#n-movies ul ul a.dir { width: 111px; }
#n-movies ul ul ul { left: 100%; }

/* -- Base style extension -- */

ul.dropdown a,
ul.dropdown span {
 display: block;
 padding: 5px 30px;
}


/* -- Base style override -- */

ul.dropdown li {
 padding: 0;
}

ul.dropdown ul a,
ul.dropdown ul span { /* POI: override abstract a, span */
 padding: 8px;
}


/* -- Base style reinitiate: post-override activities -- */

ul.dropdown *.dir { /* POI */
 padding: 5px 30px;
}

ul.dropdown ul *.dir {
 padding: 8px 30px 8px 8px;
}


/* -- Custom -- */

ul.dropdown ul a {
 width: 133px;
}

ul.dropdown ul a.dir {
 width: 111px;
}


/* -- Drop-down open -- */

ul.dropdown li:hover > *.dir {
 background-color: #3d3d3d;
}

ul.dropdown li:hover > a.dir:hover {
 background-color: #4698ca;
 color: #fff;
}

	ul.dropdown ul li:hover > *.dir {
	 background-color: #4c4c4c;
	 background-image: url(../images/comnav-arrowover.png);
	}

	ul.dropdown ul li:hover > a.dir:hover {
	 background-image: url(../images/comnav-arrowon.png);
	 color: #fff;
	}

		ul.dropdown ul ul li:hover > *.dir {
		 background-color: #595959;
		 background-image: url(../images/comnav-arrowover2.png);
		 color: #fff;
		}
		